body>.upper-body{
	background-image:url("background.png");
	 background-size: cover;
	background-repeat: no-repeat;
   margin:0;
    position: absolute;
    top: 0;
    left: 0;
    height:1800px;
    width: 100%;
    
   
}
.Form{
	width:190px;
	height:100px;
	position:relative;
	top:485px;
	left:170px;
	margin:0;
	}
.Form>form>input{
	box-sizing: border-box;
    width: 350px;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    resize: none;
    outline: none;
}
.Form>form>button,.b>button{
	width:350px;
    background-color: #FFDE00;
    margin: 0px auto;
    outline: none;
    border: 2px solid #FFDE00;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
}
.b{
	margin:0px;
	position:relative;
	top:1610px;
	
}
.b>hr{
	margin-left:150px;
	margin-right:150px;
}
.b>button{
	
	position:relative;
	left:170px;
}
input[type="text"]::placeholder{
   color:grey;
   font-size:17px;
  font-family:sanserif;
}

.image{
	position:relative;
	left:180px;
	top:10px;
}
footer{
	margin:0;
}
.foot{
	background-color:#e6e6e6;
	text-align:center;
	position:relative;
	top:2020px;
}
footer>div{
	position:relative;
	left:100px;
	text-align:center;
	top:1900px;
	
	background-image:url("Footer.png");
}
.mat{
	text-align:center;
	position:relative;
	top:2000px;
}
.common {
	font-weight:bold;
    font-family: Ubuntu,sans-serif;
    font-size: 20px!important;
}
.f{
	text-align:center;
}
ul{
	font-family: Ubuntu,sans-serif;
	
}
li{
	list-style:none;
}
li>a{
	
	text-decoration:none;
	margin: 0;
    padding: 0;
        margin-bottom: 10px;
   color:black;
   
}
